:root {
    --background-color: #212325;
    --background-accent-color: #35383b;

    --text-color: #ddd;

    --vx-beginner: #6ABD46;
    --vx-intermediate: #F8EC11;
    --vx-advanced: #EC1E24;
    --vx-pro: #AC4C9E;
    --vx-insane: #C6C6C6;
}

html {
    background-color: var(--background-color);
}

.button.vx {
    width: 100%;
    border: 0;
    color: var(--background-color);
    font-size: 3em;
    font-weight: bold;
}

.navbar, .navbar-menu {
    background-color: var(--background-accent-color);
}
.navbar-burger span {
    background-color: var(--text-color);
}
.navbar-item {
    color: var(--text-color);
}